{% extends 'base/index.html' %}

{% block title_pagina %}
<title>Iniciar Sesion</title>
{% endblock title_pagina %}


{% block mi_contenido %}

<div class="grid max-w-screen-xl  lg:grid-cols-12 lg:pt-28">
    <div class="mr-auto lg:col-span-7">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">Ingreso:</h1>
    </div>         
</div>

<form action={% url 'login' %} method="POST">
    {% csrf_token %}
    <table>
        <table>
            {{formulario}}
        </table>
        <button>Iniciar sesion</button>
    </table>
</form>
{% endblock mi_contenido %}