{% extends 'base/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title_pagina %}
        <title>Ver Publicaciones</title>
    {% endblock title_pagina %}
</head>
<body>
    {% block mi_contenido %}
    <div class="grid max-w-screen-xl  lg:grid-cols-12 lg:pt-28">
        <div class="mr-auto lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">Buscador de publicaciones:</h1>
        </div>         
    </div>
    <center>
        <form action={% url 'ver_publicaciones' %} method="GET">
        {{formulario}}
        <button>Buscar</button>
        </form>
    </center>
    <p>
        <center>
        {% if object_list %}
            {% for publicacion in object_list %}
            <li>
                <a href={% url 'descripcion_publicacion' publicacion.id %}>Titulo:{{publicacion.titulo}} - Autor:{{request.user.username}}</a>
                <p></p>
                <a href={% url 'editar_publicacion' publicacion.id %}>Editar  -   </a>
                <a href={% url 'eliminar_publicacion' publicacion.id %}>Eliminar</a>
            </li>
            <br>
            {% endfor %}
        {% else %}
            <p>
                No se encontraron resultados
            </p>
        {% endif %}
        </center>
    </p>
        
    {% endblock mi_contenido %}
</body>
</html>